<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant Management</title>
    <link rel="stylesheet" href="/styles.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1>~ Bhansa Ghar ~</h1>
    </header>

    <nav>
      <a href="#">Home</a>
      <a href="#">Order Status</a>
      <a href="#">About Us</a>
      <a href="#">Careers</a>
    </nav>
    <h2 class="title">Order Status</h2>
    <div class="order-box">
      <form action="/manage/search" method="post">
        <input
          type="text"
          name="custName"
          placeholder="Search by customer name"
        />
        <button type="submit">Search</button>
      </form>
      <a href="/manage/completed_orders/">
        <button>Completed Orders</button>
      </a>
    </div>

    <div class="order-status">
      <ul>
        <% for (let order of orders) { %>
        <li>
          <h2><%= order.custName %></h2>
          <p><strong>Address:</strong> <%= order.deliveryAddr %></p>
          <p><strong>Order Time:</strong> <%= order.orderTime %></p>

          <p>
            <strong>Order Total:</strong> <% for (let item of orders) { %> <%=
            item.itemsOrdered._id %> <% } %>
          </p>
          <p><strong>Order Status:</strong> <%= order.orderStatus %></p>

          <form action="/manage/update_status" method="post">
            <input type="hidden" value="<%= order._id %>" name="order_id" />
            <label for="orderStatus">Update Status:</label>
            <select name="orderStatus">
              <option value="readyfordelivery">Ready For Delivery</option>
              <option value="intransit">In Transit</option>
              <option value="delivered">Delivered</option>
            </select>
            <button type="submit">Update</button>
          </form>
          <p><%= order%></p>
          <p><strong>Driver:</strong> <%= order.name %></p>
          <p><strong>License Plate:</strong> <%= order.license_plate %></p>
          <% } %>
        </li>
      </ul>
    </div>
    <footer>
      <div class="social-icons">
        <div>F</div>
        <div>X</div>
        <div>Y</div>
      </div>
      <div>&copy; Bhansa Ghar Restaurant</div>
    </footer>
  </body>
</html>
