<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Details</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f4d6cc;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      main {
        text-align: center;
      }

      h1 {
        background-color: #64170f;
        color: white;
        padding: 15px;
        border-radius: 6px;
        box-shadow: 0px 16px 15px 0px rgb(247 138 138 / 36%);
      }

      div {
        background-color: white;
        margin: 10px;
        padding: 15px;
        border-radius: 12px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        text-align: left;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        margin: 5px 0;
      }

      p {
        margin: 10px 0;
      }

      .error {
        color: #ff4d4d;
        font-weight: bold;
        border: 2px solid #ff4d4d;
        border-radius: 6px;
        padding: 10px;
        margin: 10px;
        background-color: #ffe5e5;
      }

      a.button {
        padding: 8px;
        margin: 20px;
        text-decoration: none;
        font-size: 18px;
        border: 3px solid #f2c8b9;
        border-radius: 3px;
        background-color: #64170f;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
        display: inline-block;
      }

      a.button:hover {
        background-color: #e67e22;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>Order Details</h1>
      <% if (orderStatus) { %>
      <div>
        <h3>Customer Name:</h3>
        <p><%= orderStatus.custName %></p>
        <h3>Delivery Address:</h3>
        <p><%= orderStatus.deliveryAddr %></p>
        <h3>Items Ordered:</h3>
        <ul>
          <% for (const item of orderStatus.itemsOrdered) { %>
          <li><%= item.name %> - $<%= item.price.toFixed(2) %></li>
          <% } %>
        </ul>
        <h3>Order Time:</h3>
        <p><%= orderStatus.orderTime %></p>
        <h3>Order Status:</h3>
        <p><%= orderStatus.orderStatus %></p>
      </div>
      <% } else { %>
      <p class="error">Error: <%= error %></p>
      <% } %>
      <a class="button" href="/">Go to Home</a>
    </main>
  </body>
</html>
